body
{
  background-image: url("background.jpe");
  opacity: 0.8;
  background-color: #1a75ff;
}

body > div{
  opacity: 1;
}

.tab { margin-left: 40px; }
.tab-{ margin-left: 20px; }



.socialbox
{
  position:fixed;
  right:0px;
  top:0px;
}

.textcontainer
{
  position:relative;
  top:-2em;
  left: 14.55%;
	width:72.75%;
  height:100%;
	background-color:#1a75ff;
}

div h1
{
  font-size: 3em;
  color:black;
}
div p
{
  font-size:1.5em;
  color:#000000;
}
div e
{
  font-size: 1.55em;
}

.button
{
	position: fixed;
  text-align: center;
  left: 1.25%;
	height: 8.75%;
  width: 12%;
	border:2px solid black;
  border-radius: 1000px;
  	background-color:#0066FF;
}

#buttonone
{
	top: 10px;
}
#buttontwo
{
  top: 75px;
}
#buttonthree
{
	top:140px;
}
#buttonfour
{
	top:205px;
}
#buttonfive
{
  top: 270px;
}
.button p{ font-size: 1.1em; }
.bottom
{
  background-color: #002966;
  position: relative;
  height:80px;
  width:100%;
  z-index: 1;
}
.bottom2
{
  background-color: black;
  position: fixed;
  height:6%;
  width: 105%;
  bottom:0px;
  left:-2%;
  z-index: 2;
}
.sides
{
	position:fixed;
	top:0px;
	width:15%;
	height:94.5%;
	background-color:#6E6D79;
}
#left-side {left:   0px; }
#right-side{right: -1.9%;}
